doctype html
html
  head
    title Contact Us
    style
             include ../css/style.css
  body
    nav
      a(href='/') Home
      a(href='/services') Our Services
      a(href='/contact') Contact Us
    h1 Contact Us
