doctype html
html
  head
    title Home Page
    style
             include ../css/style.css
  body
    nav
     li.list
      a.link(href='/') Home
      a.link(href='/services') Our Services
      a.link(href='/contact') Contact Us
h1 Welcome to the Home Page
