doctype html
html
  head
    title Our Services
    style
             include ../css/style.css
  body
    nav
      a(href='/') Home
      a(href='/services') Our Services
      a(href='/contact') Contact Us
    h1 Our Services
